.cta {
    padding: 16px 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(45deg,
    #ff4d4d, #ff0080, #7a00ff);
    background-size: 300% 300%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s,
    box-shadow 0.2s;
}

.img{
    background-color: white;
}

h1{
    color: white;
}

img{
    height: 75px;
    width: 130px;
    padding: 10px;
    background-color: white;
}

.cta:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 35px rgba(0, 0, 0,
    0.4);
}

.cta:active {
    transform: scale(0.95);
}

body {
    background-color: black;
}

.ola1 {
    color: grey;
    text-align: center;
}

.ola2 {
    color: grey;
    text-align: center;
}

.ola3 {
    color: grey;
    text-align: center;
}

.ola4 {
    color: grey;
    text-align: center;
}

.menu{
    background-color: white;
    padding: 10px;
}